### **EXPLORATORY ANALYSIS USING SQL**

In [36]:
import pandas as pd
import sqlite3

In [75]:
# Connect to SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Load the CSV file into a pandas DataFrame
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")

# Save the DataFrame in the SQLite table
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False)

# Execute a sample query
cur.execute("SELECT * FROM SPACEXTBL LIMIT 5;")
print(cur.fetchall())

# Close the connection
con.close()

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'), ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'), ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'), ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'), ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [85]:
# Connect to SQLite database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Run the query to obtain the unique launch sites
cur.execute("SELECT DISTINCT `Launch_Site` FROM SPACEXTBL;")

# Get all the results
unique_launch_sites = cur.fetchall()

# Print single launch sites
print("SINGLE LAUNCH SITES:")
for site in unique_launch_sites:
    print("*",site[0])  
    
con.close()

SINGLE LAUNCH SITES:
* CCAFS LC-40
* VAFB SLC-4E
* KSC LC-39A
* CCAFS SLC-40

In [91]:
# Open the connection to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the query to find records where launch sites begin with 'CCA'
cur.execute("SELECT * FROM SPACEXTBL WHERE `Launch_Site` LIKE 'CCA%' LIMIT 5;")

# Fetch the results
records = cur.fetchall()

# Print the records
print("Records where launch sites begin with 'CCA':")
for record in records:
    print("*",record)

# Close the connection
con.close()

Records where launch sites begin with 'CCA':
* ('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
* ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
* ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
* ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
* ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

In [105]:
# Open the connection to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the query to get the total payload mass carried by NASA (CRS) boosters
cur.execute("SELECT SUM(`PAYLOAD_MASS__KG_`) FROM SPACEXTBL WHERE `Customer` = 'NASA (CRS)';")

# Fetch the result
total_payload_mass = cur.fetchone()[0]

# Print the total payload mass
print(f"Total payload mass carried by boosters launched by NASA (CRS): {total_payload_mass} kg")

# Close the connection
con.close()

Total payload mass carried by boosters launched by NASA (CRS): 45596 kg

In [111]:
# Open the connection to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the query to get the average payload mass for booster version F9 v1.1
cur.execute("SELECT AVG(`PAYLOAD_MASS__KG_`) FROM SPACEXTBL WHERE `Booster_Version` = 'F9 v1.1';")

# Fetch the result
average_payload_mass = cur.fetchone()[0]

# Print the average payload mass
print(f"Average payload mass carried by booster version F9 v1.1: {average_payload_mass} kg")

# Close the connection
con.close()

Average payload mass carried by booster version F9 v1.1: 2928.4 kg

In [121]:
# Open the connection to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the query to get the date of the first successful landing on a ground pad
cur.execute("SELECT MIN(`Date`) FROM SPACEXTBL WHERE `Landing_Outcome` = 'Success';")

# Fetch the result
first_successful_landing_date = cur.fetchone()[0]

# Print the date of the first successful landing outcome
print(f"The date of the first successful landing outcome on a ground pad: {first_successful_landing_date}")

# Close the connection
con.close()

The date of the first successful landing outcome on a ground pad: 2018-07-22

In [129]:
# Open the connection to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the query to get the names of the boosters
cur.execute("""
    SELECT DISTINCT `Booster_Version`
    FROM SPACEXTBL
    WHERE `Landing_Outcome` LIKE 'Success (drone ship)' 
    AND `PAYLOAD_MASS__KG_` > 4000 
    AND `PAYLOAD_MASS__KG_` < 6000;
""")

# Fetch all the results
boosters = cur.fetchall()

# Print the names of the boosters
print("Boosters with successful landings on drone ships and payload mass between 4000 and 6000 kg:")
for booster in boosters:
    print(booster[0])

# Close the connection
con.close()

Boosters with successful landings on drone ships and payload mass between 4000 and 6000 kg:
F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2

In [131]:
# Open the connection to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the query to count successful and failed mission outcomes
cur.execute("""
    SELECT `Mission_Outcome`, COUNT(*) AS total_count
    FROM SPACEXTBL
    GROUP BY `Mission_Outcome`;
""")

# Fetch all the results
outcomes = cur.fetchall()

# Print the total counts of successful and failed missions
print("Total number of successful and failed mission outcomes:")
for outcome in outcomes:
    print(f"{outcome[0]}: {outcome[1]}")

# Close the connection
con.close()

Total number of successful and failed mission outcomes:
Failure (in flight): 1
Success: 98
Success : 1
Success (payload status unclear): 1

In [133]:
# Open the connection to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the query to find the booster versions with maximum payload mass
cur.execute("""
    SELECT Booster_Version
    FROM SPACEXTBL
    WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL);
""")

# Fetch all the results
booster_versions = cur.fetchall()

# Print the names of the booster versions
print("Booster versions that carried the maximum payload mass:")
for version in booster_versions:
    print(version[0])

# Close the connection
con.close()

Booster versions that carried the maximum payload mass:
F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

In [135]:
# Open the connection to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the query to get the required records
cur.execute("""
    SELECT 
        CASE 
            WHEN substr(Date, 6, 2) = '01' THEN 'January'
            WHEN substr(Date, 6, 2) = '02' THEN 'February'
            WHEN substr(Date, 6, 2) = '03' THEN 'March'
            WHEN substr(Date, 6, 2) = '04' THEN 'April'
            WHEN substr(Date, 6, 2) = '05' THEN 'May'
            WHEN substr(Date, 6, 2) = '06' THEN 'June'
            WHEN substr(Date, 6, 2) = '07' THEN 'July'
            WHEN substr(Date, 6, 2) = '08' THEN 'August'
            WHEN substr(Date, 6, 2) = '09' THEN 'September'
            WHEN substr(Date, 6, 2) = '10' THEN 'October'
            WHEN substr(Date, 6, 2) = '11' THEN 'November'
            WHEN substr(Date, 6, 2) = '12' THEN 'December'
        END AS Month_Name,
        Landing_Outcome,
        Booster_Version,
        Launch_Site
    FROM SPACEXTBL
    WHERE Landing_Outcome LIKE '%Failure%'
    AND substr(Date, 0, 5) = '2015';
""")

# Fetch all the results
records = cur.fetchall()

# Print the records
print("Month_Name | Landing_Outcome | Booster_Version | Launch_Site")
print("--------------------------------------------------------")
for record in records:
    print(f"{record[0]:<12} | {record[1]:<16} | {record[2]:<16} | {record[3]}")

# Close the connection
con.close()

#Note: SQLLite does not support monthnames. So you need to use substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.

Month_Name | Landing_Outcome | Booster_Version | Launch_Site
--------------------------------------------------------
January      | Failure (drone ship) | F9 v1.1 B1012    | CCAFS LC-40
April        | Failure (drone ship) | F9 v1.1 B1015    | CCAFS LC-40

In [137]:
# Open the connection to the database
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

# Execute the query to count and rank landing outcomes
cur.execute("""
    SELECT Landing_Outcome, COUNT(*) AS Outcome_Count
    FROM SPACEXTBL
    WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
    GROUP BY Landing_Outcome
    ORDER BY Outcome_Count DESC;
""")

# Fetch all the results
records = cur.fetchall()

# Print the records
print("Landing_Outcome | Outcome_Count")
print("-----------------------------")
for record in records:
    print(f"{record[0]:<16} | {record[1]}")

# Close the connection
con.close()

Landing_Outcome | Outcome_Count
-----------------------------
No attempt       | 10
Success (drone ship) | 5
Failure (drone ship) | 5
Success (ground pad) | 3
Controlled (ocean) | 3
Uncontrolled (ocean) | 2
Failure (parachute) | 2
Precluded (drone ship) | 1